body{
	font-family: 'Nunito', sans-serif;
	color: #353535;
	background-color: hsl(355, 100%, 99%);
}

/* Logo of site*/ 
#D {
	color: #F23847;
}

.a {
	color: #03A688;
}

.t {
	color: #BFB41B;
}

#r {
	color: #0460D9;
}

/*Typography*/
/* h1 {
	font-size: 48px;
	line-height: 72px;
}

h2 {
	font-size: 36px;
	line-height: 48px;
}

h3 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 550;
}

h4 {
	font-size: 20px;
	line-height: 36px;
	font-style: italic;
}

p {
	font-size: 1rem; 
	line-height: 24px;
}  */


/** Base and fixed size for all small devices **/
h1 {
	font-size: 36px;
	line-height: 48px;
}
h2 {
	font-size: 28px;
	line-height: 36px;
}
h3 {
	font-size: 22px;
	line-height: 24px;
}
h4 {
	font-size: 22px;
	line-height: 24px;
	font-style: italic;
}
p {
	font-size: 16px; 
	line-height: 24px;
}
/**Fluid size for all screens, larger than 500px**/
/* @media (min-width: 900px) {
	h1 {
		font-size: 4vw;
		line-height: 48px;
	}
	h2 {
		font-size: 3.5vw;
		line-height: 36px;
	}
	h3 {
		font-size: 3vw;
		line-height: 24px;
	}
	h4 {
		font-size: 3vw;
		line-height: 24px;
		font-style: italic;
	}
} */
/** You can do the same for a maximum size if you wish **/
@media (min-width: 1200px) {
	h1 {
		font-size: 48px;
		line-height: 72px;
	}

	h2 {
		font-size: 36px;
		line-height: 48px;
	}

	h3 {
		font-size: 20px;
		line-height: 36px;
		font-weight: 550;
	}

	h4 {
		font-size: 20px;
		line-height: 36px;
		font-style: italic;
	}

	p {
		font-size: 1rem; 
		line-height: 24px;
	}
}
/* Navbar items */
.navbar {
	height: 88px;
	font-size: 18px;
	line-height: 28px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #F23847;
	font-weight: 900;
}
/* 
nav {
	background: white;
} */

/* Main items */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

article {
	padding: 8px;
}

.col-sm > h3, .col-sm > h4 {
    text-align: center;
}

.col-sm > h3 {
    padding-top: 8px;
}

.col-sm > img {
    border-radius: 50%;
}

#h2_ourTeam {
    margin-bottom: 48px;
}
.centerh2 {
    text-align: center;
}

/* #Gallery Page */
/* quick reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
  }

.sidebar {
	grid-area: sidebar;
	text-align: center;
    overflow: auto;
}
  
  /* relevant styles */
  .img__wrap {
	position: relative;
	display: inline-block;
	width: 300px;
  }

  .img__img {
	vertical-align: bottom;
  }

  .img__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F23847;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
	visibility: visible;
	opacity: 0.7;
  }

  .img__description {
	transition: .2s;
	transform: translateY(1em);
	font-size: 16px;
  }
  
  .img__wrap:hover .img__description {
	transform: translateY(0);
  }

  .search-container {
	float: none;
	margin: auto;
	text-align: left;
	height: 100%;
	width: 35%;
	box-shadow: 5px 5px 10px gray;
	margin-bottom: 35px;
  }
  
  .search-container input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 60px);
	height: 40px;
	min-width: 30%;
	border: none;
	border-radius: 20px;
	padding-left: 10px;
	font-size: 1em;
	outline-width: 0;
  }
  
  .search-container button {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: white;
	border: none;
	border-radius: 50px;
  }
  
  .search-container button:hover {
	background: #ccc;
  }
  
  .search-container button:active {
	background-color: rgb(250, 248, 248, 0.336);
  }
  
  .search-container button i {
	padding: 1px;
  }
  
