body{
	font-family: 'Nunito', sans-serif;
	color: #353535;
}

body,html {
	margin:0;
	height:100%;
	width:100%;
}

/* Logo of site*/ 
#D {
	color: #F23847;
}

.a {
	color: #03A688;
}

.t {
	color: #BFB41B;
}

#r {
	color: #0460D9;
}

/*Typography*/
/* h1 {
	font-size: 48px;
	line-height: 72px;
}

h2 {
	font-size: 36px;
	line-height: 48px;
}

h3 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 550;
}

h4 {
	font-size: 20px;
	line-height: 36px;
	font-style: italic;
}

p {
	font-size: 1rem; 
	line-height: 24px;
}  */


/** Base and fixed size for all small devices **/
h1 {
	font-size: 36px;
	line-height: 48px;
}
h2 {
	font-size: 28px;
	line-height: 36px;
}
h3 {
	font-size: 22px;
	line-height: 24px;
}
h4 {
	font-size: 22px;
	line-height: 24px;
	font-style: italic;
}
p {
	font-size: 16px; 
	line-height: 24px;
}
/**Fluid size for all screens, larger than 500px**/
@media (min-width: 900px) {
	h1 {
		font-size: 4vw;
		line-height: 48px;
	}
	h2 {
		font-size: 3.5vw;
		line-height: 36px;
	}
	h3 {
		font-size: 3vw;
		line-height: 24px;
	}
	h4 {
		font-size: 3vw;
		line-height: 24px;
		font-style: italic;
	}
}
/** You can do the same for a maximum size if you wish **/
@media (min-width: 1200px) {
	h1 {
		font-size: 48px;
		line-height: 72px;
	}

	h2 {
		font-size: 36px;
		line-height: 48px;
	}

	h3 {
		font-size: 20px;
		line-height: 36px;
		font-weight: 550;
	}

	h4 {
		font-size: 20px;
		line-height: 36px;
		font-style: italic;
	}

	p {
		font-size: 1rem; 
		line-height: 24px;
	}
}
/* Navbar items */
.navbar {
	height: 88px;
	font-size: 18px;
	line-height: 28px;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #F23847;
	font-weight: 900;
}


/* Main items */
#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 88px 1fr;
	grid-template-columns: 280px;
	grid-template-areas:
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
}

.sidebar {
	color: #353535;
	grid-area: sidebar;
	padding:10px;
	background-color: hsla(170, 97%, 13%, 0.293);
	overflow: auto;
}

.content {
	grid-area: content;
}

.sidebar img {
    width: 80%;
	margin-bottom: 24px;
}
