body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family: 'Nunito', sans-serif;
	color: hsl(0, 0%, 23%);
	background-color: hsl(355, 100%, 99%);
	overflow: auto;
}

#map {
    height: 75%;
	margin-left: 24px;
	margin-right: 24px;
    margin-top: 24px;
	border-radius: 12px;
	border: 3px solid hsla(169, 96%, 33%, 0.5);
}

body {
	display: grid;
	grid-template-rows: 80px 96px 73% 156px 73%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"header header"
	"regMap regMap"
	"content sidebar"
	"ChoromapInfo ChoromapInfo"
	"ChoroContent dashboard"
	;
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: #353535;
	grid-area: sidebar;
	padding: 10px;
	background-color: hsla(170, 97%, 13%, 0.293);
	overflow: auto;
	margin-right: 24px;
    margin-top: 24px;
	background-color: hsl(56, 75%, 93%);
	border-radius: 12px;
	height: 75%;
	border: 3px solid hsla(169, 96%, 33%, 0.5);
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}

/**Choropleth Map **/
.Choromap_info {
	grid-area: ChoromapInfo;
	text-align: center;
	margin-top: 60px;
}

.ChoroContent {
	grid-area: ChoroContent;
}

.dashboard {
	grid-area: dashboard;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-right: 24px;
	background-color: hsl(56, 75%, 93%);
	border-radius: 12px;
	height: 75%;
	border: 3px solid hsla(169, 96%, 33%, 0.5);
	padding: 10px;
}